<% if user_signed_in? %>

<!-- can also use unless_user_signed_in? and remove if and else -->
<% else %>

	<div class="hero-unit">
	<h1>Welcome to Rails Bootcamp!</h1><p></p>
	<p>
		This is 
		<%= link_to "my", "http://about/me/spanakos" %> first Rails application. Please feel free to look around and post some interesting pictures.
	</p>

	<br>

	<p>
		<!--<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large"%>-->
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-success btn-large"%>
	</p>
	</div>
<% end %>