<% if user_signed_in? %>

<!-- can also use unless_user_signed_in? and remove if and else -->
<% else %>

	<div class="hero-unit">
	<h1>Welcome to Rails Bootcamp!</h1>
	<p>
		This is the homepage for the
		<a href="http://about.me/spanakos">Crystal Spanakos</a> Rails application. <br>
		<%= link_to "Crystal Spanakos", "http://about/me/spanakos" %> Rails application
	</p>

	<p>
		<!--<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large"%>-->
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-success btn-large"%>
	</p>
	</div>
<% end %>